- page_title "编辑", @tag.name, "标签"
= render "projects/commits/header_title"
= render "projects/commits/head"

.gray-content-block
  .oneline
    .title
      标签
      %strong #{@tag.name}
      的发布备注

.prepend-top-default
  = form_for(@release, method: :put, url: namespace_project_tag_release_path(@project.namespace, @project, @tag.name), html: { class: 'form-horizontal common-note-form release-form js-quick-submit' }) do |f|
    = render layout: 'projects/md_preview', locals: { preview_class: "md-preview", referenced_users: true } do
      = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: "撰写发布备注或拖放文件到此处..."
      = render 'projects/notes/hints'
    .error-alert
    .form-actions.prepend-top-default
      = f.submit '保存修改', class: 'btn btn-save'
      = link_to "取消", namespace_project_tag_path(@project.namespace, @project, @tag.name), class: "btn btn-default btn-cancel"
