- page_title "保护分支"
%h3.page-title 保护分支
%p.light 此功能用于保护稳定分支被覆盖以及合并保护分支前必须强制代码评审
%hr

.well
  %p 保护分支设计为：
  %ul
    %li 禁止除了#{link_to "主开发人员", help_page_path("permissions", "permissions"), class: "vlink"}外所有人推送
    %li 禁止任何强制推送此分支
    %li 禁止任何人删除此分支
  %p 点击#{link_to "项目权限", help_page_path("permissions", "permissions"), class: "underlined-link"}了解更多

- if can? current_user, :admin_project, @project
  = form_for [@project.namespace.becomes(Namespace), @project, @protected_branch], html: { class: 'form-horizontal' } do |f|
    = form_errors(@protected_branch)

    .form-group
      = f.label :name, "分支", class: 'control-label'
      .col-sm-10
        = f.select(:name, @project.open_branches.map { |br| [br.name, br.name] } , {include_blank: true}, {class: "select2", data: {placeholder: "选择分支"}})
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :developers_can_push do
            = f.check_box :developers_can_push
            %strong 开发者可以推送
          .help-block 允许开发者推送到此分支
    .form-actions
      = f.submit '保护', class: "btn-create btn"
= render 'branches_list'
