- page_title "账号"
- header_title page_title, profile_account_path

- if current_user.ldap_user?
  .alert.alert-info
    部分设置对于 LDAP 账号无效

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      私有授权
    %p
      私有授权可以免登录访问应用资源。
  .col-lg-9
    = form_for @user, url: reset_private_token_profile_path, method: :put, html: {class: "private-token"} do |f|
      %p.cgray
        - if current_user.private_token
          = label_tag "token", "私有授权", class: "label-light"
          = text_field_tag "token", current_user.private_token, class: "form-control"
        - else
          %span 没有私有授权，点生成按钮可修复。
      %p.help-block
        通常在 RSS 和 API 中使用。注意保密！
      .prepend-top-default
        - if current_user.private_token
          = f.submit '重置私有授权', data: { confirm: "确定要继续么？" }, class: "btn btn-default"
        - else
          = f.submit '生成', class: "btn btn-default"
%hr
.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      两步验证
    %p
      开启两步验证 (2FA) 增加账户安全性。
  .col-lg-9
    %p
      状态：#{current_user.two_factor_enabled? ? '已启用' : '已禁用'}
    - if !current_user.two_factor_enabled?
      %p
        请从 iOS 的 App Store 或 Android 的 Google Play 下载谷歌身份验证器 (Google Authenticator) 应用，然后扫描下面的二维码。
        更多可用的信息请参阅此#{link_to('文档', help_page_path('profile', 'two_factor_authentication'))}。
      .append-bottom-10
        = link_to '开启两步验证', new_profile_two_factor_auth_path, class: 'btn btn-success'
    - else
      = link_to '禁用两步验证', profile_two_factor_auth_path, method: :delete, class: 'btn btn-danger',
              data: { confirm: '确定要继续么？' }
%hr
- if button_based_providers.any?
  .row.prepend-top-default
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0
        社会化登录
      %p
        激活下列登录服务
    .col-lg-9
      %label.label-light
        连接到的账户
      %p 点击下列服务的图标激活第三方登录
      - button_based_providers.each do |provider|
        .provider-btn-group
          .provider-btn-image
            = provider_image_tag(provider)
          - if auth_active?(provider)
            = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'provider-btn' do
              断开
          - else
            = link_to user_omniauth_authorize_path(provider), method: :post, class: "provider-btn #{'not-active' if !auth_active?(provider)}", "data-no-turbolink" => "true" do
              连接
  %hr
- if current_user.can_change_username?
  .row.prepend-top-default
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0.change-username-title
        修改用户名
      %p
        修改用户名会同时修改全部个人项目的路径！
    .col-lg-9
      = form_for @user, url: update_username_profile_path, method: :put, remote: true, html: {class: "update-username"} do |f|
        .form-group
          = f.label :username, "路径", class: "label-light"
          .input-group
            .input-group-addon
              = "#{root_url}u/"
            = f.text_field :username, required: true, class: 'form-control'
        .help-block
          当前路径：
          = "#{root_url}u/#{current_user.username}"
        .prepend-top-default
          = f.button class: "btn btn-warning", type: "submit" do
            = icon "spinner spin", class: "hidden loading-username"
            更新用户名
  %hr

- if signup_enabled?
  .row.prepend-top-default
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0.remove-account-title
        删除账号
    .col-lg-9
      - if @user.can_be_removed?
        %p
          删除账号会有以下影响：
        %ul
          %li 全部用户内容，比如：问题、代码片段、注释将被删除
          - rp = current_user.personal_projects.count
          - unless rp.zero?
            %li #{pluralize rp, '个个人项目', '个个人项目'}将被删除且无法恢复
        = link_to '删除账号', user_registration_path, data: { confirm: "确定要删除 #{current_user.name} 么？" }, method: :delete, class: "btn btn-remove"
      - else
        - if @user.solo_owned_groups.present?
          %p
            你的账号当前是下列群组的拥有者：
            %strong #{@user.solo_owned_groups.map(&:name).join(', ')}
          %p
            请在删除账号前转移群组所有权或删除之。
.append-bottom-default
