- @no_container = true

= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "#{@project.name} 活动")

= content_for :flash_message do
  - if current_user && can?(current_user, :download_code, @project)
    = render 'shared/no_ssh'
    = render 'shared/no_password'

= render 'projects/last_push'
= render "home_panel"

.project-stats.gray-content-block.second-block
  %ul.nav
    %li
      = link_to namespace_project_commits_path(@project.namespace, @project, current_ref) do
        = pluralize(number_with_delimiter(@project.commit_count), '次提交', '次提交')
    %li
      = link_to namespace_project_branches_path(@project.namespace, @project) do
        = pluralize(number_with_delimiter(@repository.branch_names.count), '个分支', '个分支')
    %li
      = link_to namespace_project_tags_path(@project.namespace, @project) do
        = pluralize(number_with_delimiter(@repository.tag_names.count), '个标签', '个标签')

    %li
      = link_to project_files_path(@project) do
        = repository_size

    - if default_project_view != 'readme' && @repository.readme
      %li
        = link_to 'Readme', readme_path(@project)

    - if @repository.changelog
      %li
        = link_to '变更日志', changelog_path(@project)

    - if @repository.license_blob
      %li
        = link_to license_short_name(@project), license_path(@project)

    - if @repository.contribution_guide
      %li
        = link_to '贡献指南', contribution_guide_path(@project)

    - if current_user && can_push_branch?(@project, @project.default_branch)
      - unless @repository.changelog
        %li.missing
          = link_to add_special_file_path(@project, file_name: 'CHANGELOG') do
            增加变更日志
      - unless @repository.license_blob
        %li.missing
          = link_to add_special_file_path(@project, file_name: 'LICENSE') do
            增加许可证
      - unless @repository.contribution_guide
        %li.missing
          = link_to add_special_file_path(@project, file_name: 'CONTRIBUTING.md', commit_message: 'Add contribution guide') do
            增加贡献指南

- if @repository.commit
  .content-block.second-block.white
    %div{ class: container_class }
      = render 'projects/last_commit', commit: @repository.commit, project: @project

%div{ class: container_class }
  - if @project.archived?
    .text-warning.center.prepend-top-20
      %p
        = icon("exclamation-triangle fw")
        已归档项目！版本仓库只读

  %div{class: "project-show-#{default_project_view}"}
    = render default_project_view
