- if @merge_request.open?
  = render 'projects/merge_requests/widget/open'
- elsif @merge_request.merged?
  = render 'projects/merge_requests/widget/merged'
- elsif @merge_request.closed?
  = render 'projects/merge_requests/widget/closed'
- elsif @merge_request.locked?
  = render 'projects/merge_requests/widget/locked'

:javascript
  var opts = {
    merge_check_url: "#{merge_check_namespace_project_merge_request_path(@project.namespace, @project, @merge_request)}",
    check_enable: #{@merge_request.unchecked? ? "true" : "false"},
    ci_status_url: "#{ci_status_namespace_project_merge_request_path(@project.namespace, @project, @merge_request)}",
    gitlab_icon: "#{asset_path 'gitlab_logo.png'}",
    ci_status: "",
    ci_message: {
      normal: "\"{{title}}\" 的构建{{status}}",
      preparing: "\"{{title}}\" 的构建{{status}}"
    },
    ci_enable: #{@project.ci_service ? "true" : "false"},
    ci_title: {
      preparing: "{{status}} 构建",
      normal: "构建 {{status}}"
    },
    builds_path: "#{builds_namespace_project_merge_request_path(@project.namespace, @project, @merge_request)}"
  };

  merge_request_widget = new MergeRequestWidget(opts);
