- note = discussion_notes.first
- commit = note.noteable
- commit_description = commit ? '提交' : '删除的提交'
.discussion.js-toggle-container{ class: note.discussion_id }
  .discussion-header
    = link_to_member(@project, note.author, avatar: false)
    .inline.discussion-headline-light
      = "#{note.author.to_reference} 开始讨论在提交 #{commit_description}"
      - if commit
        = link_to(commit.short_id, namespace_project_commit_path(note.project.namespace, note.project, note.noteable), class: 'monospace')
      = time_ago_with_tooltip(note.created_at, placement: "bottom", html_class: "discussion_updated_ago")
    .discussion-actions
      = link_to "#", class: "note-action-button discussion-toggle-button js-toggle-button" do
        %i.fa.fa-chevron-up
        显示/隐藏讨论
  .discussion-body.js-toggle-content
    - if note.for_diff_line?
      = render "projects/notes/discussions/diff", discussion_notes: discussion_notes, note: note
    - else
      .panel.panel-default
        .notes{ data: { discussion_id: discussion_notes.first.discussion_id } }
          %ul.notes.timeline
            = render discussion_notes
        .discussion-reply-holder
          = link_to_reply_diff(discussion_notes.first)
