- note = discussion_notes.first
.discussion.js-toggle-container{ class: note.discussion_id }
  .discussion-header
    = link_to_member(@project, note.author, avatar: false)
    .inline.discussion-headline-light
      = "#{note.author.to_reference} started a discussion"
      在过期的差异
      = time_ago_with_tooltip(note.created_at, placement: "bottom", html_class: "discussion_updated_ago")
    .discussion-actions
      = link_to "#", class: "note-action-button discussion-toggle-button js-toggle-button" do
        %i.fa.fa-chevron-down
        显示/隐藏讨论
  .discussion-body.js-toggle-content.hide
    = render "projects/notes/discussions/diff", discussion_notes: discussion_notes, note: note
