- page_title        "#{@commit.title} (#{@commit.short_id})", "提交"
- page_description  @commit.description

= render "projects/commits/header_title"

.prepend-top-default
  = render "commit_box"
- if @ci_commit
  = render "ci_menu"
- else
  %div.block-connector
= render "projects/diffs/diffs", diffs: @diffs, project: @project,
         diff_refs: @diff_refs
= render "projects/notes/notes_with_form"
- if can_collaborate_with_project?
  - %w(revert cherry-pick).each do |type|
    = render "projects/commit/change", type: type, commit: @commit, title: @commit.title
